# visual studio nonsense
*.sdf
*.opendb
*.suo
x64/Debug
x64/Release

# stuff for my testing purposes
*.sln
*.vcxproj
*.vcxproj.filters
test.cpp
*.obj
textures
*.mtl
*.exe
*.glsl
*.frag
*.vert
*.geom
*.tese
*.tesc
*.comp